body {
	color: #f7f7f8;
  	background-color: #0f0f10;
}


/*div {
	width: 50%;
	margin: 0 auto;
}*/

p {
	font-family: 'Poppins', sans-serif;
  	font-weight: 300;
  	letter-spacing:  0.5px;
  
}

/*img {
   width: 120px;    
}*/

.logo {
	background-color: 0f0f10;
	width: 210px;
	margin-top: 10px;
	margin-bottom: -10px;
	
}

div.main-cover {
	max-width: ! important 100%;
	margin: 0 auto;
}

img.artist-content {
	width: 70%;
	height: auto;
	margin: 0 auto;
	display: block;
}

/* Artists */ 

/* .artist {
  width: 200px;
  height: 200px;
  padding: 15px;
  margin-left: ;
  
}

.artist:hover {
	filter: invert(100%);
}

.artist-content {
  width: 100%;
  margin: ; 
} 

* /

/* Navbar */

.navbar {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1.5px;
	text-align: center;	
	margin-right: 30px;
	margin-bottom: 30px;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ;
}

.navbar li {
    float: ;
    display: inline;
    border-right: 1px solid #aaa;
}

.navbar li a {
    display: inline;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    margin-right: ;
}


h1 {
	font-family: 'Inknut Antiqua', serif;
	font-size: 53px;
  	font-weight: lighter;
  	letter-spacing: 3px;
	text-align: center;
	text-decoration: uppercase;
	margin-top: 0px;
	margin-bottom: 1px;
}

a {
	text-decoration: none;
	color: #fafafa;
}

/* Mouse over link */
a:hover {
    color: hotpink;
}
a:hover {
    background-color: ;
}

/*Icons*/

.list-unstyled {
	margin-top: 20px;
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.flex-center {
	text-align: center;
	font-family: 'Poppins';
  	font-weight: normal;
	text-decoration: none;
	color: #f7f7f8;
}

.name {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: ;
	letter-spacing: 1.5px;

}

iframe {
	margin-top: 90px;
}

footer {
	font-family: 'Inknut Antiqua', serif;
  	font-weight: 300;
	text-align: center;
	font-size: 12px;
  	letter-spacing:  1px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Responsive Design / Media Queries */

/* for small phones */

@media (max-width: 599px) {

	.logo {
		width: 110px;
	}
	h1 {
		font-size: 20px;
	}

	.navbar {
		width: 100%;
		font-size: 15px;
	}

	.navbar li a {
		
	}
}
