body {
  color: #f7f7f8;
    background-color: #0f0f10;
    margin-top: 150px;
}

.flex-center {
	text-align: center;
    color: 000;
}


h1 {
    font-family: 'Inknut Antiqua', serif;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: uppercase;
    color: #f7f7f8;
}

/* Navbar */

.navbar {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
	text-align: center;	
	margin-right: 30px;
	margin-bottom: 50px;


}

ul .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: ;
}

.navbar li {
    float: ;
    display: inline;
    border-right: 1px solid #aaa;
    color: #f7f7f8;
}

.navbar li a {
    display: inline;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    margin-right: ;
    color: #f7f7f8;
}

/* Mouse over link */

li a:hover {
    color: hotpink;
}

/*Images*/

.container {
  width: 45%;
  margin: 0 auto;
  padding-top: ;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 150px;
  height: 150px;
  margin-right: 15px;
  margin-bottom: 25px;
  text-decoration: none;
}

.gallery-item img {
  position: absolute;
  width: 150px;
  height: 150px;
  opacity: ;
}

.text-wrapper {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0;
}

.text-wrapper:hover {
  transition: all 0.8s ease;
  background: rgba(236, 216, 249, 1);
  opacity: 1;
}

.name {
  font-size: 14px;
}

.title {
    font-style: italic;
}

/* Social */

a:link {
    color: #f7f7f8;
    
}

a:visited {
    color: #f7f7f8;
}

li a:hover {
  color: hotpink;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
   
}

.flex-center {
    margin-top: 70px;
}






